In [166]:
import pandas as pd

In [167]:
import chardet

with open(r"C:\Users\kevin\Downloads\Thunderbit_dc16d0_20251021_053139.csv", 'rb') as f:
    result = chardet.detect(f.read(10000))
    print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [168]:
df1 = pd.read_csv(r"C:\Users\kevin\Downloads\Thunderbit_dc16d0_20251021_053139.csv", encoding='Windows-1252')

In [169]:
df1

,Company Name,Company URL,Location,Description,Batch,Industry,Sub-Industry,no. of investors,year,Funding Amount (USD),funding Round
0,Groww,https://www.ycombinator.com/companies/groww,"Bengaluru, KA, India","Making financial services simple, transparent ...",Winter 2018,Fintech,Asset Management,3,2016,$21.4 million,Series F
1,Meesho,https://www.ycombinator.com/companies/meesho,"Bengaluru, KA, India",Democratizing internet commerce for everyone i...,Summer 2016,B2B,Retail,12,2015,$1.36 billion,Series F
2,Razorpay,https://www.ycombinator.com/companies/razorpay,"Bengaluru, KA, India",India's only full-stack financial solutions co...,Winter 2015,Fintech,Payments,11,2014,$742 million,Series F
3,Zepto,https://www.ycombinator.com/companies/zepto,"MH, India",10-Minute Grocery Delivery in India,Winter 2021,Consumer,Food and Beverage,7,2021,$2.3 billion,Series F
4,RedCarpetUp,https://www.ycombinator.com/companies/redcarpetup,"Gurugram, HR, India",Credit cards for Indians that banks cannot see,Summer 2015,Fintech,Consumer Finance,6,2015,$10.8 million,Series D
...,...,...,...,...,...,...,...,...,...,...,...
95,Nirva,https://www.ycombinator.com/companies/nirva,"London, England, United Kingdom",Evidence-based Traditional and Complementary M...,Winter 2021,Healthcare,Healthcare Services,Not disclosed,2023,Not disclosed,Not disclosed
96,FifthTry,https://www.ycombinator.com/companies/fifthtry,"Bengaluru, KA, India",Continuous Documentation To End Documentation Rot,Winter 2021,B2B,Productivity,Not disclosed,2023,Not disclosed,Not disclosed
97,Bimaplan,https://www.ycombinator.com/companies/bimaplan,"Bengaluru, KA, India",Affordable insurance for the next billion Indians,Winter 2021,Fintech,Insurance,2,2021,$1M,Seed
98,Pragmatic Leaders (Ankai Inc),https://www.ycombinator.com/companies/pragmati...,"Gurugram, HR, India","AI-powered Corporate Training: Faster, Smarter...",Winter 2021,B2B,NaN,Not disclosed,2022,Not disclosed,Not disclosed
99,Weekday,https://www.ycombinator.com/companies/weekday,"Bengaluru, KA, India",AI recruiter that runs outbound sourcing campa...,Winter 2021,B2B,Recruiting and Talent,Not disclosed,2022,Not disclosed,Not disclosed

In [170]:
df2 = pd.read_csv(r"C:\Users\kevin\startupdata4.csv")

In [171]:
df2

,Unnamed: 0,name,stage,location,sector,founded,funding,Year
0,0,Azzona Manufacturing Private Limited,Validation,"Kapurthala,, Punjab",Automotive,NaN,NaN,2021.0
1,1,Azzarosol Solutions Private Limited,Scaling,"Mumbai,, Maharashtra",IT Services,NaN,NaN,2018.0
2,2,Azooka Life Sciences,Early Traction,"Bengaluru Urban,, Karnataka",Healthcare & Lifesciences,NaN,NaN,2015.0
3,3,Azlogics Private Limited,Validation,"Nagpur,, Maharashtra",IT Services,NaN,NaN,2021.0
4,4,Azimut Oil And Gas Private Limited,Validation,"Mumbai,, Maharashtra",Non- Renewable Energy,NaN,NaN,2022.0
...,...,...,...,...,...,...,...,...
2641,2641,AVAHI INFOTECH (OPC) PRIVATE LIMITED,Early Traction,"South Delhi,, Delhi",IT Services,NaN,NaN,2020.0
2642,2642,AVAHAN PACKAGING PRIVATE LIMITED,Validation,"Mumbai,, Maharashtra",House-Hold Services,NaN,NaN,2022.0
2643,2643,AVAGER CONSULTANCY PRIVATE LIMITED,Validation,"Ernakulam,, Kerala",Finance Technology,NaN,NaN,2022.0
2644,2644,AVAGAMA CONSULTING (OPC) PRIVATE LIMITED,Validation,"Pune,, Maharashtra",IT Services,NaN,NaN,2022.0
2645,2645,AVAGAM VENTURES PRIVATE LIMITED,Scaling,"Kolar,, Karnataka",Social Impact,NaN,NaN,2021.0

In [172]:
df2["Year"] = pd.to_numeric(df2["Year"], errors="coerce").astype("Int64")

In [173]:
df1 = df1.rename(columns={"Company Name": "company_name", "Location": "location", "Industry" : "sector", "Funding Amount (USD)":"funding_total"})
df2 = df2.rename(columns={"name": "company_name", "location": "location", "Year": "year", "funding":"funding_total"})

In [174]:
for df in [df1, df2]:
    df["company_name"] = df["company_name"].str.strip().str.lower()
    df["location"] = df["location"].str.strip().str.lower()
    df["sector"] = df["sector"].str.strip().str.lower()

In [175]:
combined_df = pd.concat([df1, df2], ignore_index=True)

In [176]:
deduped_df = combined_df.drop_duplicates(subset=["company_name", "location"], keep="first")

In [177]:
deduped_df.to_csv("startup_data.csv", index=False)

In [178]:
df = pd.read_csv("startup_data.csv")

In [179]:
df.isna().sum()

company_name           0
Company URL         2643
location               0
Description         2643
Batch               2643
sector                73
Sub-Industry        2678
no. of investors    2643
year                 217
funding_total       2643
funding Round       2643
Unnamed: 0           100
stage                100
founded             2743
dtype: int64

In [180]:
df = df.drop(['founded'], axis = 1)

In [181]:
df.isna().sum()

company_name           0
Company URL         2643
location               0
Description         2643
Batch               2643
sector                73
Sub-Industry        2678
no. of investors    2643
year                 217
funding_total       2643
funding Round       2643
Unnamed: 0           100
stage                100
dtype: int64

In [182]:
df3 = pd.read_csv(r"C:\Users\kevin\STARTUPDATA.csv")

In [183]:
df3

,company_name,sector,city,state,funding_total,funding_round,number_of_investors,investors,employee_count,Unnamed: 0,Founders,Description,startup_date
0,art of time,Consumer Goods > Retailers,Maharashtra,NaN,Undisclosed,Series B,1.0,Plutus Wealth Management,NaN,NaN,NaN,NaN,2000
1,sammaan capital,Financial Services > Consumer and SME Loans,Delhi,NaN,$1B,Post IPO,2.0,"IHC, Marshall Wace",NaN,NaN,NaN,NaN,2005
2,freight tiger,Consumer > Logistics Tech,Maharashtra,NaN,$13.5M,Series C,2.0,"Tata Motors, Lightspeed India",NaN,NaN,NaN,NaN,2014
3,recyclaro.com,Environment Tech > Solid Waste Management Tech,Uttar Pradesh,NaN,$1M,Seed,1.0,CapitalOven,NaN,NaN,NaN,NaN,2025
4,growxcd,Financial Services > Consumer and SME Loans,Tamil Nadu,NaN,$22.5M,Series B,2.0,"Blue Earth Capital, Lok Capital",NaN,NaN,NaN,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3549,reglobe,Used Gadgets Buy / Refurbishing,Gurgaon,NaN,8.25,Seed Funding,NaN,"Bessemer Ventures, Blume Ventures",NaN,NaN,NaN,NaN,2015-04-29
3550,icertis,Cloud Enterprise Software,Pune / US,NaN,49.5,Private Equity,NaN,"Greycroft Partners, Fidelity Growth Partners",NaN,NaN,NaN,NaN,2015-04-29
3551,dazo,Mobile Food Ordering app,Bangalore,NaN,0.0,Seed Funding,NaN,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",NaN,NaN,NaN,NaN,2015-04-29
3552,tradelab,Financial Markets Software,Bangalore,NaN,3.3,Seed Funding,NaN,Rainmatter,NaN,NaN,NaN,NaN,2015-04-29
3553,piqube,Hiring Analytics platform,Chennai,NaN,4.125,Seed Funding,NaN,The HR Fund,NaN,NaN,NaN,NaN,2015-04-29

In [184]:
df4 = pd.read_csv(r"C:\Users\kevin\Downloads\startup_funding.csv")

In [185]:
df4

,Date,StartupName,CityLocation,IndustryVertical,AmountInUSD,InvestorsName
0,09-11-2019,Paytm,Chennai,E-commerce,1.453572e+08,SoftBank
1,18-04-2020,Zomato,Hyderabad,Food Delivery,4.649822e+07,"Nexus Venture Partners, Kalaari Capital"
2,23-06-2017,Paytm,Chennai,Food Delivery,1.543602e+08,"SoftBank, Blume Ventures"
3,25-01-2015,Unacademy,Pune,Travel,1.415470e+08,"Kalaari Capital, Nexus Venture Partners, Tiger..."
4,04-08-2015,CureFit,Bangalore,Logistics,5.690570e+07,Tiger Global
...,...,...,...,...,...,...
195,10-04-2017,PhonePe,Chennai,Edtech,1.661233e+08,"Lightspeed, Matrix Partners"
196,17-04-2021,Zomato,Gurgaon,AI,1.095294e+08,"SAIF Partners, Accel Partners"
197,10-06-2020,Byju's,Delhi,Food Delivery,1.455040e+08,SoftBank
198,10-01-2016,Byju's,Gurgaon,AI,9.172610e+06,"Tiger Global, Kalaari Capital, Accel Partners"
199,01-09-2022,Meesho,Bangalore,Food Delivery,5.524604e+07,"Accel Partners, Nexus Venture Partners, Kalaar..."

In [186]:
df4 = df4.rename(columns={"StartupName": "company_name", "InvestorsName": "investors", "AmountInUSD" : "funding", "CityLocation":"location","Date":"year", "IndustryVertical":"sector" })

In [187]:
for d in [df, df3, df4]:
    d["company_name"] = d["company_name"].str.strip().str.lower()

In [188]:
df3["location"] = (df3["city"].fillna("") + ", " + df3["state"].fillna("")).str.strip().str.lower()
df["location"] = df["location"].str.strip().str.lower()
df4["investors"] = d["investors"].str.strip().str.lower() 
df4["location"] = d["location"].str.strip().str.lower()
df4["sector"] = d["sector"].str.strip().str.lower()

In [189]:
df3 = df3.rename(columns={"startup_date": "year", "number_of_investors": "no_of_investors", "funding_total" : "funding" })

In [190]:
df = df.rename(columns={
    "funding Round": "funding_round",
    "no. of investors" : "no_of_investors",
    "funding_total" : "funding"
    })

In [191]:
combined_df = pd.concat([df, df3, df4], ignore_index=True)

In [192]:
deduped_df = combined_df.drop_duplicates(subset=["company_name", "location"], keep="first")

In [193]:
deduped_df.to_csv("Combined_Startup_Data.csv", index=False)

In [194]:
data = pd.read_csv("Combined_Startup_Data.csv")

In [195]:
data

,company_name,Company URL,location,Description,Batch,sector,Sub-Industry,no_of_investors,year,funding,funding_round,Unnamed: 0,stage,city,state,investors,employee_count,Founders
0,groww,https://www.ycombinator.com/companies/groww,"bengaluru, ka, india","Making financial services simple, transparent ...",Winter 2018,fintech,Asset Management,3,2016.0,$21.4 million,Series F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,meesho,https://www.ycombinator.com/companies/meesho,"bengaluru, ka, india",Democratizing internet commerce for everyone i...,Summer 2016,b2b,Retail,12,2015.0,$1.36 billion,Series F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,razorpay,https://www.ycombinator.com/companies/razorpay,"bengaluru, ka, india",India's only full-stack financial solutions co...,Winter 2015,fintech,Payments,11,2014.0,$742 million,Series F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,zepto,https://www.ycombinator.com/companies/zepto,"mh, india",10-Minute Grocery Delivery in India,Winter 2021,consumer,Food and Beverage,7,2021.0,$2.3 billion,Series F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,redcarpetup,https://www.ycombinator.com/companies/redcarpetup,"gurugram, hr, india",Credit cards for Indians that banks cannot see,Summer 2015,fintech,Consumer Finance,6,2015.0,$10.8 million,Series D,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,unacademy,NaN,ahmedabad,NaN,NaN,e-commerce,NaN,NaN,27-04-2017,105920392.7,NaN,NaN,NaN,NaN,NaN,"saif partners, blume ventures",NaN,NaN
6376,curefit,NaN,kolkata,NaN,NaN,healthtech,NaN,NaN,11-03-2022,71883068.14,NaN,NaN,NaN,NaN,NaN,sequoia capital,NaN,NaN
6377,byju's,NaN,bangalore,NaN,NaN,travel,NaN,NaN,26-10-2020,6719554.67,NaN,NaN,NaN,NaN,NaN,"softbank, matrix partners",NaN,NaN
6378,swiggy,NaN,hyderabad,NaN,NaN,retail,NaN,NaN,13-06-2017,48252726.32,NaN,NaN,NaN,NaN,NaN,"accel partners, lightspeed, softbank",NaN,NaN
6379,swiggy,NaN,ahmedabad,NaN,NaN,travel,NaN,NaN,11-01-2020,65010842.81,NaN,NaN,NaN,NaN,NaN,softbank,NaN,NaN

In [198]:
data.isna().sum()

company_name          0
Company URL        6280
location              0
Description        5994
Batch              6280
sector               74
Sub-Industry       6315
no_of_investors    5274
year                362
funding            2643
funding_round      3032
Unnamed: 0         3451
stage              3737
city               2826
state              6379
investors          3347
employee_count     5788
Founders           6094
dtype: int64